*{
    box-sizing: border-box;
}

p{
    font-family:'Comic Neue', cursive;
}

h2{
    font-family:  'Comic Neue', cursive;
}

h1{
    font-family:  'Comic Neue', cursive;
}

.photo-template{
    display: none;
}
.photo-template2{
    display: none;
}
